.caixaPrincipal {
    background-color: var(--color-half-white);
    width: 800px;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    scrollbar-width: auto;
    scrollbar-color: var(--color-dark-blue) var(--color-half-white);
}

.textoPrincipalCap{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0px 20px;
}

.textoPrincipal {
    color: white;
    font-size: 18px;
    text-align: left;
    margin: 0px 20px;
}

.imagemPrincipal {
    text-align: center;
}