/* auth */

.container-auth {
  width: 400px;
  min-height: 490px;
  background-color: var(--color-violet);
  border: 3px solid var(--color-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-white);
  font-size: 26px;
  margin: 50px 0;
}

.container-auth > .title {
  background-color: var(--color-green);
  color: var(--color-black);
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  padding: 5px 0;
  border: 3px solid var(--color-white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-auth > form {
  margin: 30px;
}

.container-auth > form > .input-container {
  display: flex;
  flex-direction: column;
}

.input-container > input {
  height: 45px;
  background-color: var(--color-half-white);
  padding: 0 10px;
  border: none;
}

.container-auth input[type="submit"],
.container-auth input[type="reset"]{
  width: 100%;
  border: none;
  height: 45px;
  background-color: var(--color-green);
  color: var(--color-black);
  font-weight: 700;
  font-size: 32px;
  box-shadow: 0px 10px 0px 0px #00000040;
  cursor: pointer;
}

.container-auth > form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.firstAcess {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}

.firstAcess a {
  color: var(--color-green);
}