html, body {
    height: 100%;
    overflow: hidden;
}

.content {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}

.gamesList ul {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    height: 100%;
    cursor: grab;
}

.gamesList ul:active {
    cursor: grabbing;
}

.userProfile {
    width: 320px;
    overflow-y: auto;
}


.gamesList {
    background-color: var(--color-half-white);
    width: 800px;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    scrollbar-width: auto;
    scrollbar-color: var(--color-dark-blue) var(--color-half-white);
}

.gamesList ul {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    list-style: none;
    height: 100%;
}

.gameItem {
    width: 280px;
    flex: 1 0 auto;
    background-color: var(--color-violet);
    border: 1px solid var(--color-white);
    padding: 10px;
    max-height: 500px;
    margin-bottom: 20px;
    color: var(--color-white);
}

.gameItem img {
    width: 100%;
}

.gameItem h1 {
    border-top: 3px solid var(--color-white);
    border-bottom: 3px solid var(--color-white);
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
}

.gameItem div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}