.menu {
    display: flex;
    justify-content: center;
    height: 85px;
    width: 100%;
    border: 3px solid #FFFFFF;
    background-color: var(--color-violet);
    color: var(--color-white);
}

.menu img {
    height: 79px;
    cursor: pointer;
    transition: .2s;
}

#logo {
    padding-left: 10px;
}

img.active {
    background-color: var(--color-dark-blue);
}

.menu img:hover {
    background-color: var(--color-dark-blue);
}

.menu-itens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .4fr;
    list-style: none;
    width: 800px;
}

.menu-itens a {
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    cursor: pointer;
    text-decoration: none;
    height: 79px;
}

.menu-itens a:hover {
    background-color: var(--color-white);
    color: var(--color-violet);
}

.menu-itens a.active {
    background-color: var(--color-white);
    color: var(--color-violet);
}


/* content */

.content {
    height: calc(100vh - 105px);
    margin-top: 20px;
    padding-bottom: 30px;
    display: flex;
    gap: 40px;
}

.exampleProfile {
    background-color: var(--color-half-white);
    width: 300px;
}