.menu {
    display: flex;
    justify-content: center;
    height: 85px;
    width: 100%;
    border: 3px solid #FFFFFF;
    background-color: var(--color-violet);
    color: var(--color-white);
}

.menu img {
    height: 79px;
    cursor: pointer;
    transition: .2s;
}

#logo {
    padding-left: 10px;
}

img.active {
    background-color: var(--color-dark-blue);
}

.menu img:hover {
    background-color: var(--color-dark-blue);
}

.menu-itens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .4fr;
    list-style: none;
    width: 800px;
}

.menu-itens a {
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    cursor: pointer;
    text-decoration: none;
    height: 79px;
}

.menu-itens a:hover {
    background-color: var(--color-white);
    color: var(--color-violet);
}

.menu-itens a.active {
    background-color: var(--color-white);
    color: var(--color-violet);
}


/* content */

.content {
    height: calc(100vh - 105px);
    margin-top: 20px;
    padding-bottom: 30px;
    display: flex;
    gap: 40px;
}

/* profile and friends list */

.userProfile {
    background-color: var(--color-half-white);
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profileContainer {
    background-color: var(--color-violet);
    padding: 10px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#profileMsg {
    margin: 20px 0 10px 0;
}

.profileContainer h1 {
    text-align: center;
}

.userProfilePic {
    position: relative;
    width: 150px;
    height: 150px;
}

.userProfilePic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    cursor: pointer;
}

.changePhoto {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.726);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
    cursor: pointer;
    font-size: 26px;
    text-align: center;
    margin: 3px;
}

.userProfilePic:hover .changePhoto {
    opacity: 1;
    visibility: visible;
}

.profileContainer hr {
    margin: 30px 0;
    width: 100%;
}

.friendsList {
    margin-top: 20px;
    overflow-y: auto;
    width: 100%;
    gap: 20px;
    height: 100%;
}

.friendsList li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}