* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark-blue: #11162F;
  --color-violet: #402483;
  --color-green: #AFE938;
  --color-white: #fff;
  --color-half-white: #FFFFFF80;
  --color-black: #000;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* auth */

.container-auth {
  width: 400px;
  min-height: 490px;
  background-color: var(--color-violet);
  border: 3px solid var(--color-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-white);
  font-size: 26px;
  margin: 50px 0;
}

.container-auth > .title {
  background-color: var(--color-green);
  color: var(--color-black);
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  padding: 5px 0;
  border: 3px solid var(--color-white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-auth > form {
  margin: 30px;
}

.container-auth > form > .input-container {
  display: flex;
  flex-direction: column;
}

.input-container > input {
  height: 45px;
  background-color: var(--color-half-white);
  border: none;
}

.container-auth input[type="submit"] {
  width: 100%;
  border: none;
  height: 45px;
  background-color: var(--color-green);
  color: var(--color-black);
  font-weight: 700;
  font-size: 32px;
  box-shadow: 0px 10px 0px 0px #00000040;
}

.container-auth > form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.firstAcess {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}

.firstAcess a {
  color: var(--color-green);
}